.dialog img {
    width: 50px;
    height: 50px;
    border-radius: 25px;
}
.UserDialog {
    height: 50px;
    margin: 5px;
    position: relative;
}
.userAvatar {
    position: absolute;
    margin-top: 0px;
    margin-left: 0px;
}
.userName {
    position: absolute;
    margin-top: 14px;
    margin-left: 50px;
    padding: 0 0 5px 5px;
}