.message {
    border-left: 1px solid;
    padding-left: 50px;
    display: flex;
    flex-direction: column;
    color: white;
}
.message span {
    align-self: flex-start;
    margin-right: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 10px;
    padding: 10px;
    word-break: break-word;
    background-color: cornflowerblue;
}
.UserMessage {
    margin-left: auto;
}